<div class="jobs">
{{#each this}}
{{#if this.id}}
<div class="card mb-2">
    <div class="card-body">
        <h4 class="card-title">{{ owner.first_name }} {{ owner.last_name }}</h5>
        <h5 class="card-text">Pet: {{ pet.pet_name }}</h5>
        <h5 class="card-subtitle">Visit: {{#if walk }}Walk{{/if}}{{#if check_in }}Check-In{{/if}}</h6>
        <h5 class="card-text">Pay: {{ this.pay }}</h5>
        <h6 class="card-text text-muted">Time: {{ this.timeframe }}</h6>
        <h6 class="card-text text-muted">Location: {{ this.location }}</h6>
        {{!-- {{#if owner}}
        {{#unless completed}}
        <button id="delete-job" class="float-right btn success" type="button">Delete</button>
        {{/unless}}
        {{/if}} --}}
       {{#if ../isWalker}}
        <button id="accept-job" data-id="{{this.id}}" class="accept-job-class float-right btn success" type="button">Accept</button>
        {{/if}}
        {{#unless loggedIn}}
      
<button class="accept-job-class float-right btn success id="unlogged-accept-job" type="button" data-id="{{this.id}}"dataclass="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Accept Job
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Only registered members can apply for jobs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-footer">
        <button type="button" a href="/" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/" class="btn btn-primary" type="button">Register</a>
      </div>
    </div>
  </div>
</div>
        {{/unless}}
</div>
{{/if}}
{{/each}}
</div>